<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Welcome View Template</title>
    <link rel="stylesheet" href="../../../css/design.css">
    <link rel="stylesheet" href="../../../css/layout.css">

</head>
<body>

<h2 class="top-header">Sign Up to Note In!</h2>

<div class="main-content center">
    <input id="username" type="text" placeholder="user@example.com"
           class="login-signup-inputs"/>
    <input id="password" type="password" placeholder="Password" class="login-signup-inputs"/>

    <a id="btn-signup" href="#" class="login-signup-buttons"><img src="images/icons/login.png" alt=""></a>

</div>


</div>

</body>
</html>