<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Welcome View Template</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;"/>

    <link rel="stylesheet" href="../../../css/design.css">
    <link rel="stylesheet" href="../../../css/layout.css">

</head>
<body>

<h2 class="top-header">Welcome to Note In!</h2>

<div class="main-content">Note In is a simple mobile application that can help you save notes either on your device or
    in the cloud.
    <br/>
    <br/>
    It is a demo app that demonstrates use of technologies and JavaScript frameworks like: PhoneGap, HTML5, CSS3,
    Backbone and Requirejs...
</div>

<p id="welcome-question-p">Where would like to store your notes?</p>

<div class="bottom-bar">

    <a href="#user/login" class="welcome-button"><img src="images/icons/cloud.png"/></a>

    <a href="#notes/listview" class="welcome-button"><img src="images/icons/phone.png"/></a>

</div>
</body>
</html>
